<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqbo.web.infrastructure.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.cqbo.web.domain.menu.entity.Menu">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="redirect" column="redirect" jdbcType="VARCHAR"/>
        <result property="affix" column="affix" jdbcType="TINYINT"/>
        <result property="parentId" column="parentId" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="hideInMenu" column="hideInMenu" jdbcType="TINYINT"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="hideInBreadcrumb" column="hideInBreadcrumb" jdbcType="TINYINT"/>
        <result property="hideChildrenInMenu" column="hideChildrenInMenu" jdbcType="TINYINT"/>
        <result property="keepAlive" column="keepAlive" jdbcType="TINYINT"/>
        <result property="target" column="target" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="TINYINT"/>
        <result property="orderNum" column="orderNum" jdbcType="INTEGER"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,title,icon,path,component,redirect,affix,parentId,name,hideInMenu,url,hideInBreadcrumb,hideChildrenInMenu,keepAlive,target
        ,code,type,orderNum,createTime,updateTime
    </sql>

    <select id="getMenuByUserId" resultType="com.cqbo.web.domain.menu.entity.Menu">
        select DISTINCT m.*
        from sys_user_role as ur
                 left join sys_role as r on ur.roleId = r.id
                 left join sys_role_menu as rm on r.id = rm.roleId
                 left join sys_menu as m on rm.menuId = m.id
        where ur.userId = #{userId}
        order by m.orderNum desc
    </select>

    <select id="getMenuByRoleId" resultType="com.cqbo.web.domain.menu.entity.Menu">
        select m.*
        from sys_role_menu as rm,
             sys_menu as m
        where rm.menuId = m.id
          and rm.roleId = #{roleId}
    </select>

</mapper>
