<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqbo.web.infrastructure.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.cqbo.web.domain.role.entity.Role">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="roleName" column="roleName" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="TINYINT"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,roleName,type,status,remark,createTime,updateTime
    </sql>
</mapper>
